{
  "mysql":{
    "host":false,
    "port":false,
  	"user":"",
  	"password":"chicken :)",
  	"database":"cipher",
    "socketPath":""
  },
  "server":{
  	"name":"My Cipher.io Server",
  	"port":1234,
  	"password":false
  },
  "information":{
  	"owner":{
	  	"name":"",
	  	"website":"http://www.mywebsite.com",
	  	"email":"@"
		},
  	"server":{
	  	"description":"A server for my group of friends!",
	  	"website":false
  	}
  }
}
